/* Styles go here */

.even {
    background-color: #444;
}

.inner.game {
    .box-sizing(border-box);

    border: 1px solid #000;
    background-color: @tileColor;
    overflow: hidden;
}

.finishedGrouping {
    color: @selectedColor;    
}

.gameContainer {
    position: relative;
    height: 100%;
}

.square {
    box-sizing: border-box;
    border: 1px solid #999;
    float: left;
}

.pending {
    background-color: @pendingColor;
}

.selected {
    background-color: @selectedColor;
}

.marked {
    color: @markedColor;
    height: 100%;
    text-align: center;
    width: 100%;
}

.unselected {
    background-color: @tileColor;
}

.top-grid {
    float: right;
}

.transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -ms-transform: @transform; 
    -o-transform: @transform;
    transform: @transform; 
}

.horizontal-line {
    text-align: right;
}

.theCountdown {
    bottom: 0;
    display: inline-block;
    position: absolute;

    timer, .showPenalty {
        @media screen and (min-width: @largeScreen) { font-size: 6em; }
        @media screen and (max-width: @largeScreen) { font-size: 4em; }
    }
}

.vertical-line {
    display: inline-block;
    text-align: center;
}

.vertical-line div {
    width: 50%;
    margin: 0 auto;
}

.win-notification {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    background-color: fade(@black, 90%);
    color: #FFF;
    text-align: center;
}

.win-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.win-text {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

/*
 *  Mixins
 */

 .border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.box-sizing (@box-sizing: content-box) {
    -webkit-box-sizing: @box-sizing;
    -moz-box-sizing: @box-sizing;
    -o-box-sizing: @box-sizing;
    box-sizing: @box-sizing;
}