/* Styles go here */

.game {
    border: 1px solid #000;
    overflow: hidden;
}

.gameContainer {
    position: relative;
    display: inline-block;
}

.square {
    box-sizing: border-box;
    border: 1px solid #999;
    float: left;
}

.pending {
    background-color: rgba(0, 0, 0, .5);
}

.selected {
    background-color: #2199D0;
}

.marked {
    background-color: #302010;
}

.unselected {
    background-color: #E2E2E2;
}

.left-grid {
	float: left;
	margin-right: 12px;
    position: absolute;
    bottom: 0;
}

.top-grid {
    display: inline-block;
}

.horizontal-line {
    text-align: right;
}

.vertical-line {
    display: inline-block;
    text-align: center;
}

.vertical-line div {
    width: 50%;
    margin: 0 auto;
}