/* Styles go here */

.game {
    border: 1px solid #000;
    overflow: hidden;
}

.square {
    box-sizing: border-box;
    border: 1px solid #999;
    float: left;
}

.selected {
    background-color: #2199D0;
}

.marked {
    background-color: #302010;
}

.unselected {
    background-color: #E2E2E2;
}