/* Styles go here */

.bottom-row-inner {
    @media screen and (max-width: @largeScreen) {
        display: inline-block;
        margin: 0 auto;
    }
}

.even {
    background-color: #444;
}

.inner.game {
    margin: 0 auto;
}

.finishedGrouping {
    color: @selectedColor;    
    transition: color .5s;
}

.gameContainer {
    height: 100%;
}

.gameContainer-inner {
    display: inline-block;

    .viewLevel & {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    @media screen and (max-width: @mediumScreen) {
        margin: 0 auto;

        .viewLevel & {
            position: static;
        }
    }
}

.horizontal-line {
    text-align: right;
}

.levelInfo {
    position: absolute;
    margin: 1em 0 0 1em;

    width: auto;

    .btn {
        margin-left: 0;
    }

    @media screen and (min-width: @mediumScreen) { 
        right: 0;
    }

    @media screen and (max-width: @mediumScreen) { 
        position: static;
    }
}

.list-group-item {
    background-color: @headerColor;
    margin: @inputMargin auto;
    padding: @inputMargin;
    width: 25%;

    .btn {
        float: right;
    }

    .list-group-item-heading {
        font-size: 2em;
    }

    .username {
        float: right;
        cursor: pointer;
    }

    .size {
        cursor: pointer;
        display: inline-block;
        font-size: 2em;
    }
}

.listLevels {
    input,
    select {
        margin: @inputMargin;
    }
}

.outer.game {
    display: inline-block;
    float: right;
}

.left-grid {
    float: right;
}

.marked {
    background-color: @tileColor;
    color: @markedColor;
    transition: color .5s;
}

.page-header {
    border-bottom: none;
    margin: 1em 0;
}

.pagination {
    text-align: center;
    width: 100%;

    .prevPage,
    .nextPage,
    .currentPage {
        display: inline-block;
        margin: 1em;
        font-size: 2em;
    }
}

.pending {
    background-color: @pendingColor;
    transition: background-color .5s;
}

.searchText {
    display: inline-block;
    background: @headerColor;
    padding: @inputMargin;
    vertical-align: middle;

    .clearSearch {
        cursor: pointer;
        display: inline-block;
    }
}

.selected {
    background-color: @selectedColor;
    transition: background-color .5s;
}

.square {
    box-sizing: border-box;
    border: 1px solid #999;
    float: left;
}

.top-grid {
    float: right;
}

.transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -ms-transform: @transform; 
    -o-transform: @transform;
    transform: @transform; 
}

.theCountdown {
    bottom: 0;
    position: absolute;
    left: 0;
    margin: 0 0 1em 1em;

    @media screen and (max-width: @mediumScreen) {
        position: static;
    }

    timer, .showPenalty {
        @media screen and (min-width: @largeScreen) { font-size: 6em; }
        @media screen and (max-width: @largeScreen) {
            font-size: 4em;
            position: static;
        }
    }
}

.unselected {
    background-color: @tileColor;
}

.vertical-line {
    display: inline-block;
    text-align: center;
}

.vertical-line div {
    width: 50%;
    margin: 0 auto;
}

.win-notification {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    background-color: fade(@black, 90%);
    color: #FFF;
    text-align: center;
}

.win-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.win-text {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

/*
 *  Mixins
 */

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.box-sizing (@box-sizing: content-box) {
    -webkit-box-sizing: @box-sizing;
    -moz-box-sizing: @box-sizing;
    -o-box-sizing: @box-sizing;
    box-sizing: @box-sizing;
}