<div class="header-container-inner container">
	<nav role="navigation">
		<div class="navbar-nav-container">
			<ul class="nav navbar-nav" ng-click="openLevelSelect()">
				<li>
					<i class="fa fa-bars"></i>
					<div>Levels</div>
				</li>
			</ul>

			<ul class="nav navbar-nav"
				ng-dialog="modules/users/views/settings/edit-profile.client.view.html"
				ng-dialog-close-previous
				data-ng-if="authentication.user">
				<li>
					<i class="fa fa-user"></i>
					<div>{{ authentication.user.username }}</div>
				</li>
			</ul>

			<ul class="nav navbar-nav"
				ng-dialog="modules/users/views/authentication/signup.client.view.html"
				ng-dialog-close-previous
				data-ng-if="!authentication.user">
				<li>
					<i class="fa fa-user"></i>
					<div>Sign Up</div>
				</li>
			</ul>

			<ul class="nav navbar-nav"
				ng-dialog="modules/users/views/authentication/signin.client.view.html"
				ng-dialog-close-previous
				data-ng-if="!authentication.user">
				<li>
					<i class="fa fa-user"></i>
					<div>Sign In</div>
				</li>
			</ul>

			<ul class="nav navbar-nav"
				ng-dialog="modules/core/views/help.client.view.html"
				ng-dialog-close-previous>
				<li>
					<i class="fa fa-question"></i>
					<div>Help</div>
				</li>
			</ul>

			<ul class="nav navbar-nav theCountdown" ng-if="gameReady && currentView === 'view'">
				<li>
					<i class="fa fa-heart"></i>
					<div ng-if="level.currentLives !== undefined" ng-bind="level.currentLives"></div>
				</li>
			</ul>

			<ul class="nav navbar-nav" ng-if="authentication.user && level">
				<li class="rateLevel">
					<span>Rate:</span>
					<div star-rating ng-model="level.yourRating" max="5" on-rating-selected="rate()"></div>
				</li>
			</ul>
		</div>
	</nav>
</div>