<div class="header-container-inner container" data-ng-controller="HeaderController">
	<nav role="navigation">
		<div class="navbar-nav-container">
			<ul class="nav navbar-nav" ng-click="openLevelSelect()">
				<li>
					<i class="fa fa-bars"></i>
					<div>Levels</div>
				</li>
			</ul>

			<ul class="nav navbar-nav" ng-click="openEditProfile()" data-ng-if="authentication.user">
				<li>
					<i class="fa fa-user"></i>
					<div>{{ authentication.user.username }}</div>
				</li>
			</ul>

			<ul class="nav navbar-nav" ng-click="openSignUp()" data-ng-if="!authentication.user">
				<li>
					<i class="fa fa-user"></i>
					<div>Sign Up</div>
				</li>
			</ul>

			<ul class="nav navbar-nav" ng-click="openSignIn()" data-ng-if="!authentication.user"> <li>
					<i class="fa fa-user"></i>
					<div>Sign In</div>
				</li>
			</ul>

			<ul class="nav navbar-nav" ng-click="openHelp()">
				<li>
					<i class="fa fa-question"></i>
					<div>Help</div>
				</li>
			</ul>

			<ul class="nav navbar-nav theCountdown" ng-if="gameReady && ctrl.currentView === 'view'">
				<li>
					<i class="fa fa-clock-o"></i>
					<div ng-if="!level.timeLimit" ng-hide="showPenalty">
						<timer interval="1000">{{ minutes }}:{{ sseconds }}</timer>
					</div>
					<div ng-if="level.timeLimit" ng-hide="showPenalty">
						<timer countdown="level.timeRemaining" interval="1000" finish-callback="gameOver()">
							{{ minutes }}:{{sseconds}}
						</timer>
					</div>
					<div ng-if="showPenalty" class="showPenalty">
						{{ penaltyAmount }} sec
					</div>
				</li>
			</ul>

			<ul class="nav navbar-nav" ng-if="authentication.user && level">
				<li class="rateLevel">
					<span>Rate:</span>
					<div star-rating ng-model="level.yourRating" max="5" on-rating-selected="rate()"></div>
				</li>
			</ul>
		</div>
	</nav>
</div>