<div class="header-container-inner container" data-ng-controller="HeaderController">
	<nav role="navigation">
		<ul class="nav navbar-header">
			<span class="header">Krossr</span>
		</ul>
		<ul class="nav navbar-nav" ng-click="openEditProfile()" data-ng-if="menu.shouldRender(authentication.user)">
			<li ng-if="authentication.user">
				<a>
					<div class="fa fa-user"></div>
					<span>{{ authentication.user.username }}</span>
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav" ng-click="openSignUp()" data-ng-if="menu.shouldRender(authentication.user)">
			<li ng-if="!authentication.user">
				<a>
					<div class="fa fa-user"></div>
					<span ng-class="{active: $uiRoute}">
						Sign Up
					</span>
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav" ng-click="openSignIn()" data-ng-if="menu.shouldRender(authentication.user)">
			<li ng-if="!authentication.user">
				<a>
					<div class="fa fa-user"></div>
					<span ng-class="{active: $uiRoute}">
						Sign In
					</button>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav" data-ng-if="level && authentication.user._id === level.user._id">
			<li>
				<a ui-sref="editLevel({levelId: '{{level._id}}' })">
					<div class="fa fa-file"></div>
					<span>{{ level.name }}</span>
				</a>
			</li>
		</ul>
		
		<ul class="nav navbar-nav" ng-click="openHelp()">
			<li>
				<a>
					<div class="fa fa-question"></div>
					<span>Help</span>
				</a>
			</li>
		</ul>	
	</nav>
</div>

