<div class="hero">
	<div class="valign-inner">
		<p class="hero-text">
			Welcome to Krossr, an online game inspired by Mario's Picross and the Mario no Super Picross series.
			To get started, please
		</p>


		<div class="sign-on" data-ng-hide="authentication.user">
			<a href="/#!/signup">
				<button class="btn btn-primary" ui-route="/signup" ng-class="{active: $uiRoute}">
					Sign Up
				</button>
			</a>

			 or 

			<a href="/#!/signin">
				<button class="btn btn-primary" ui-route="/signin" ng-class="{active: $uiRoute}">
					Sign In
				</button>
			</a>
		</div>
	</div>
</div>