<div class="hero">
	<section class="row valign-inner" data-ng-controller="AuthenticationController">
		<h3 class="col-md-12 text-center">Sign up</h3>
		<div class="sign-on-form">
			<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
				<label class="control-label" for="username">Username</label> 
				<div class="form-group">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					<div class="details">Your username will be displayed on any puzzles you create. No restrictions.</div>
				</div>

				<label class="control-label" for="email">Email</label> 
				<div class="form-group">
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					<div class="details">Your email will only be used for password recovery</div>
				</div>

				<label class="control-label" for="password">Password</label> 
				<div class="form-group">
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					<div class="details">Your password must be at least 10 characters</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</form>
		</div>
	</section>
</div>