* {
	box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

:focus {
	outline: none;
}

a {
	color: @white;
	text-decoration: none;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }

html {
	height: 100%;
}

body {
	background: @primary;
	color: @primaryText;
	font-family: @mainFont;
	font-weight: @extraBold;
	height: @bodyHeight;
	margin: 0;

    /* For preventing mobile Chrome refreshing by dragging down */
    overflow-y: hidden;
}

button {
    background-color: @selectedColor;
    border: 0;
    color: @white;
    cursor: pointer;
    font-family: inherit;
	height: @inputHeight;
    padding: .4em;
    width: 100%;
	transition: all 1s;
	
	.center;
	.restrict-width;
	.standardMargin;

    &:disabled {
		background-color: darken(@selectedColor, 10%);
		transition: all .2s;
    }
}

section {
	max-height: 100%;
	height: 100%;
}

select {
	color: @primary;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

::-webkit-input-placeholder {
	font-family: @mainFont;
}

.center {
	margin: 0 auto;
}

.content {
	float: left;
	width: 100%;

	height: calc(~"100% - " @navbarHeight);
}

.fa.active {
	color: @selectedColor;
}

.form-group {
	.restrict-width;
	.standardMargin;

	input {
		background-color: @secondary;
		box-sizing: border-box;
		border: 1px solid @secondary;
		color: @white;
		font-family: @mainFont !important;
		.standardMargin;
		width: 100%;
		height: @inputHeight;
		padding: @inputMargin;
	}

	select {
		background-color: @secondary;
		border: 1px solid @secondary;
		color: @white;
		height: @inputHeight;
		.standardMargin;
		line-height: 2;
		padding: 0 @inputMargin;
		width: 100%;
	}

	.details {
		font-size: 0.7em;
	}
}

.invisible {
	visibility: hidden !important;
}

.header-container {
	.BoxShadowHelper(1);

	box-sizing: border-box;
	background: @black;
	font-family: inherit;
	list-style-type: none;
	overflow: hidden;
	height: @navbarHeight;
	z-index: 10;
}

.main-viewport {
	float: left;
	position: relative;
	width: 100%;
	height: 100%;
}

.navbar-header {
	background-color: @selectedColor;

	/* I have no idea where this margin is coming from
		to need to be overidden, dev tools shows nothing */
	margin: 0;
	padding: 0 @inputMargin;
	text-align: center;
}

nav {
	ul {
		float: left;
		min-width: @navbarHeight;
		padding: @inputMargin;

		div {
			font-size: 0.8rem;
			text-align: center;
		}

		& > li {
			color: @white;
			text-decoration: none;
			margin: 0 @inputMargin;
			transition: all 1s;

			&:hover {
				color: @selectedColor;
				transition: all 1s;
			}
		}

		.fa:not(.fa-star) {
			display: block;
			margin: @borderRadius;
			text-align: center;
		}
	}
}

.ng-invalid.ng-dirty{
    border-color: @invalidColor;
}
.ng-valid.ng-dirty{
    border-color: @selectedColor;
}

.restrict-width {
	max-width: 300px;

	@media screen and (max-width: @mediumScreen) {
		margin: 0 auto;
    }
}

.splash {
	font-size: 10em;
	font-family: @mainFont;
}

.standardMargin {
	margin-top: @inputMargin;
}