@navbarHeight: 50px;
@primary: #222;
@primaryText: #DDD;
@secondary: lighten(@primary, 20%);
@white: #FFF;

@bodyHeight: 100%;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

:focus {
	outline: none;
}

a {
	&.list-group-item {
		&,
		& .list-group-item-heading {
			color: inherit;
		}

		&:hover, &:focus {
			color: @white;
			text-decoration: none;
			background-color: @secondary;
		}
	}
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	background: @primary;
	font-family: 'PT Sans';
	height: @bodyHeight;
	color: @primaryText;
}

select {
	color: @primary;
}

#playable-area {
	height: @bodyHeight;
}

.btn-primary {
	background: @secondary;
	border-color: @white;
	color: @white;

	&:hover {
		background: @primary;
		border-color: @white;
	};
}

.collapsing {
	overflow: visible;
}

.content {
	height: @bodyHeight;
}

.header-container {

}

.dropdown-menu {
	background-color: @primary;

	& > li {
		& > a {
			background-color: @primary;
			color: inherit;
			&:hover {
				background-color: @secondary;
				color: @white;
				background-image: none;
			};
		}	
	}

	.active {
		& > a,
		& > a:hover,
		& > a:focus {
			background-color: @secondary;
			background-image: none;
		}
	}
}

.list-group-item {
	background: none;
}

.navbar {
	display: inline-block;
	//position: fixed;
	left: 1em;
	top: 1em;
}

.navbar-inverse {
	background: @primary;
	background-image: none;

	.navbar-nav {
		float: none;

		& > li > a {
			color: @primaryText;
		}
	}
}

.navbar-toggle {
	float: none;
	position: static;
}

.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.page-header {
	border-bottom: none;
}

.pull-right {
	float: right;
}

.row {
	display: inline-block;
	width: 100%;
}

.undecorated-link {
	&:hover {
		text-decoration: none;
	}
}