<div class="hero restrict-width center">
    <h1>Restore your password</h1>
    <p class="small" ng-if="forgotPasswordCtrl.invalid">Your password reset token is invalid, please send a new password reset</p>
    <p class="small">Enter your account username.</p>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form data-ng-submit="forgotPasswordCtrl.askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
            <div class="form-group">
                <input type="text" id="username" name="username" class="form-control" data-ng-model="forgotPasswordCtrl.credentials.username" placeholder="Username">
            </div>
            <div class="text-center form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div data-ng-show="forgotPasswordCtrl.error" class="text-center text-danger">
                <strong>{{forgotPasswordCtrl.error}}</strong>
            </div>
            <div data-ng-show="forgotPasswordCtrl.success" class="text-center text-success">
                <strong>{{forgotPasswordCtrl.success}}</strong>
            </div>
        </form>
    </div>
</div>