<popup-content>
    <h1>Forgot Password</h1>
    <p ng-if="forgotPasswordCtrl.invalid">Your password reset token is invalid, please send a new password reset</p>
    <form data-ng-submit="forgotPasswordCtrl.askForPasswordReset()" autocomplete="off">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" data-ng-model="forgotPasswordCtrl.credentials.username" placeholder="Username">
        </div>
        <div class="form-group">
            <button type="submit">
                <span ng-if="!forgotPasswordCtrl.error && !forgotPasswordCtrl.success">Submit</span>
                <span ng-if="forgotPasswordCtrl.success">{{forgotPasswordCtrl.success}}</span>
                <span ng-if="forgotPasswordCtrl.error">{{forgotPasswordCtrl.error}}</span>
            </button>
        </div>
    </form>
</popup-content>