<popup-content>
    <h2>Reset your password</h2>

    <form data-ng-submit="resetPasswordCtrl.resetUserPassword()" autocomplete="off">
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" name="newPassword" data-ng-model="resetPasswordCtrl.passwordDetails.newPassword" placeholder="New Password">
        </div>
        <div class="form-group">
            <label for="verifyPassword">Verify Password</label>
            <input type="password" id="verifyPassword" name="verifyPassword" data-ng-model="resetPasswordCtrl.passwordDetails.verifyPassword" placeholder="Verify Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Update Password</button>
        </div>
        <div data-ng-show="resetPasswordCtrl.error" class="text-danger">
            <strong>{{resetPasswordCtrl.error}}</strong>
        </div>
        <div data-ng-show="resetPasswordCtrl.success">
            <strong>{{resetPasswordCtrl.success}}</strong>
        </div>
    </form>
</popup-content>