<div class="header-container-inner">
	<nav role="navigation">
		<div class="navbar-nav-container">
			<ul ng-click="headerCtrl.openLevelSelect()">
				<li>
					<i class="fa fa-bars"></i>
					<div>Levels</div>
				</li>
			</ul>

			<ul ng-click="headerCtrl.openEditProfile()" ng-if="headerCtrl.Authentication.user">
				<li>
					<i class="fa fa-user"></i>
					<div>{{ headerCtrl.Authentication.user.username }}</div>
				</li>
			</ul>

			<ul ng-click="headerCtrl.openSignUp()" ng-if="!headerCtrl.Authentication.user">
				<li>
					<i class="fa fa-user"></i>
					<div>Sign Up</div>
				</li>
			</ul>

			<ul ng-click="headerCtrl.openSignIn()" ng-if="!headerCtrl.Authentication.user">
				<li>
					<i class="fa fa-user"></i>
					<div>Sign In</div>
				</li>
			</ul>

			<ul ng-click="headerCtrl.openHelp()">
				<li>
					<i class="fa fa-question"></i>
					<div>Help</div>
				</li>
			</ul>
		</div>
	</nav>
</div>