@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

.remove-account-container {
	display: inline-block;
	position: relative;
}

.sign-on-form {
	display: inline-block;
	margin-top: @inputMargin * 3;
}

.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}