<div class="listLevels" data-ng-init="levelSelectCtrl.find(levelSelectCtrl.currentPage)">
    <h2>
        Levels
        <span class="filterIcon" ng-click="levelSelectCtrl.toggleShowFilter()">
            <i class="fa fa-filter"
                ng-class="{'active': levelSelectCtrl.showFilter}"></i>
        </span>
        <span class="createIcon" ng-if="levelSelectCtrl.Authentication.user" ui-sref="create-level()" ng-click="levelSelectCtrl.closeAction();">
            <i class="fa fa-plus"></i>
        </span>
    </h2>
    <div class="form-group filters">
        <div class="form-group" ng-show="levelSelectCtrl.showFilter">
            <!-- These guys all get their own divs so they don't have the label and input on
                  different lines -->
            <div class="form-group">
                <label class="control-label">Size</label>
                <select ng-model="levelSelectCtrl.sizeRestriction" ng-change="levelSelectCtrl.find(levelSelectCtrl.currentPage)">
                    <option value="" selected>All</option>
                    <option value="5">5x5</option>
                    <option value="10">10x10</option>
                    <option value="15">15x15</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Search</label>
                <input ng-model="levelSelectCtrl.searchText" ng-model-options="{ debounce: 250 }" ng-change="levelSelectCtrl.find(levelSelectCtrl.currentPage)">
            </div>

            <div class="form-group">
                <label class="control-label">Sort by</label>
                <select ng-model="levelSelectCtrl.sortBy" ng-change="levelSelectCtrl.find(levelSelectCtrl.currentPage)">
                    <option value='"createdAt"'>Created Date</option>
                    <option value='name'>Name</option>
                    <option value='"avgRating"'>Ratings</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Sort direction</label>
                <select ng-model="levelSelectCtrl.sortDirection" ng-change="levelSelectCtrl.find(levelSelectCtrl.currentPage)">
                    <option value="">Asc</option>
                    <option value="DESC">Desc</option>
                </select>
            </div>
        </div>
    </div>

    <div class="list-group" ng-if="levelSelectCtrl.levels">
        <div data-ng-repeat="level in levelSelectCtrl.levels track by $id(level)" ng-class="{'odd': $index % 2 !== 0}" class="list-group-item level">
            <a class="playButton" ui-sref="level({ levelId: level.id })" ui-sref-opts="{ reload: true }" ng-click="levelSelectCtrl.closeAction()">
                <i class="fa fa-play"></i>
            </a>

            <div class="list-group-item-heading" data-ng-bind="level.name"></div>

            <div class="username" ng-click="levelSelectCtrl.setSearchText(level.user.username)" data-ng-bind="'by ' + level.user.username"></div>

            <a class="editButton" ui-sref="update-level({ levelId: level.id })" ui-sref-opts="{ reload: true }" ng-click="levelSelectCtrl.closeAction()" ng-if="level && levelSelectCtrl.Authentication.user.id === level.userId">
                <i class="fa fa-edit"></i>
            </a>

            <div class="size" data-ng-bind="level.prettySize" ng-click="levelSelectCtrl.setSizeRestriction(level.size)"></div>

            <div class="averageRating">
                Avg:
                <span ng-if="::level.avgRating">{{ ::level.avgRating | number: 2 }}</span>
                <span ng-if="::!level.avgRating">n/a</span>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" data-ng-show="levelSelectCtrl.levels.count === 0">
    	No Levels yet!

        <button class="btn" ng-if="levelSelectCtrl.Authentication.user" ng-click="levelSelectCtrl.createNewLevel();closeThisDialog();">
            Create One
        </button>
    </div>

    <pagination ng-if="levelSelectCtrl.levels && levelSelectCtrl.levels.length > 0" on-pagination="levelSelectCtrl.find(currentPage)" current-page="levelSelectCtrl.currentPage" total-pages="levelSelectCtrl.totalPages"></pagination>
</div>