<number-line
	ng-if="numGridCtrl.orientation === 'horizontal'"
	ng-style="{ 'height': numGridCtrl.ctrl.tileSize,
				'line-height': numGridCtrl.ctrl.tileSize,
				'font-size': numGridCtrl.ctrl.getFontSize() }"
	ng-repeat="i in numGridCtrl.layout track by $index"
	class="{{numGridCtrl.orientation}}-line"
	ng-class-even="'even'"
	ng-class-odd="'odd'"
	index="$index"
	orientation="{{numGridCtrl.orientation}}"
	>
</number-line>

<number-line
	ng-if="numGridCtrl.orientation === 'vertical'"
	ng-style="{
		'width': numGridCtrl.ctrl.tileSize,
		'font-size': numGridCtrl.ctrl.getFontSize()
	}"
	ng-repeat="i in numGridCtrl.layout track by $index"
	class="{{numGridCtrl.orientation}}-line"
	ng-class-even="'even'"
	ng-class-odd="'odd'"
	index="$index"
	orientation="{{numGridCtrl.orientation}}"
	>
</number-line>