<popup-content>
    <h1>Forgot Password</h1>
    <p *ngIf="invalid">Your password reset token is invalid, please send a new password reset</p>
    <form [formGroup]="formGroup" autocomplete="off">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [formControl]="usernameFormControl" (keyup)="updateUsername($event.target.value)" placeholder="Username">
        </div>
        <div class="form-group">
            <button type="submit" (click)="askForPasswordReset()">
                <span *ngIf="!error && !success">Submit</span>
                <span *ngIf="success">{{success}}</span>
                <span *ngIf="error">{{error}}</span>
            </button>
        </div>
    </form>
</popup-content>