<popup-content>
	<form name="userForm" data-ng-submit="editProfileCtrl.updateUserProfile(userForm.$valid)" class="signin" autocomplete="off">
		<h2><label class="control-label" for="lastName">Change your Email Address</h2>
		<div class="form-group">
			<input type="email" id="email" name="email" data-ng-model="editProfileCtrl.Authentication.user.email" placeholder="Email">
		</div>
		<div class="form-group">
			<button ng-disabled="editProfileCtrl.error.username || editProfileCtrl.success.username" type="submit" class="btn btn-large btn-primary">
				<span ng-if="!editProfileCtrl.success.username">Save Email Address</span>
				<span ng-if="editProfileCtrl.success.username">Email Saved</span>
				<span ng-if="editProfileCtrl.error.username" data-ng-bind="editProfileCtrl.error.username"></span>
			</button>
		</div>
	</form>
	<h2>Change your password</h2>
	<form data-ng-submit="editProfileCtrl.changeUserPassword()" class="signin" autocomplete="off">
		<div class="form-group">
			<input type="password" id="currentPassword" name="currentPassword" data-ng-model="editProfileCtrl.passwordDetails.currentPassword" placeholder="Current Password">
		</div>
		<div class="form-group">
			<input type="password" id="newPassword" minlength="{{ editProfileCtrl.minPasswordLength }}" name="newPassword" data-ng-model="editProfileCtrl.passwordDetails.newPassword" placeholder="New Password">
		</div>
		<div class="form-group">
			<input type="password" id="verifyPassword" minlength="{{ editProfileCtrl.minPasswordLength }}" name="verifyPassword" data-ng-model="editProfileCtrl.passwordDetails.verifyPassword" placeholder="Verify Password">
		</div>
		<div class="form-group">
			<button ng-disabled="editProfileCtrl.error.password || editProfileCtrl.success.password" type="submit" class="btn">
				<span ng-if="!editProfileCtrl.error.password && !editProfileCtrl.success.password">Save Password</span>
				<span ng-if="!editProfileCtrl.error.password && editProfileCtrl.success.password">Password Saved</span>
				<span ng-if="editProfileCtrl.error.password" data-ng-bind="editProfileCtrl.error.password"></span>
			</button>
		</div>
	</form>
	<button ng-click="editProfileCtrl.signout();" class="btn">Sign Out</button>
</popup-content>