<div class="viewLevel">
    <div class="form-group form-horizontal restrict-width" ng-if="['edit', 'new'].indexOf(levelCtrl.level.currentView) > -1">
        <h2>{{ levelCtrl.level.currentView }} level</h2>

        <div class="controls">
            <label class="control-label" for="name">Name</label>
            <input type="text" data-ng-model="levelCtrl.level.name" id="name" class="form-control" placeholder="Name" required>
        </div>

        <div class="controls">
            <label class="control-label" for="lives"># of lives (wrong answers allowed)</label>
            <input type='text' ng-pattern="validNumber" data-ng-model="levelCtrl.level.lives" id="lives" class="form-control" placeholder="# of lives" required>
        </div>

        <div class="controls" ng-if="levelCtrl.level.currentView === 'new'">
            <label class="control-label" for="size">Size</label>
            <select convert-to-number ng-model="ctrl.options.size" ng-change="levelCtrl.createNewLevel();">
                <option value="25">5x5</option>
                <option value="100">10x10</option>
                <option value="225">15x15</option>
            </select>
        </div>

        <div>
            <button class="btn" type="button" ng-click="levelCtrl.confirmClear()">Clear</button>
        </div>

        <div ng-if="levelCtrl.level.currentView === 'edit'">
            <button ng-disabled="error" class="btn" type="button" ng-click="levelCtrl.confirmUpdate()">
                <span ng-if="!error">Update</span>
                <span ng-if="error" ng-bind-html="error"></span>
            </button>
        </div>

        <div ng-if="levelCtrl.level.currentView === 'new'">
            <button ng-disabled="error" class="btn btn-primary" ng-click="levelCtrl.submitCreate()">
                <span ng-if="!error">Submit</span>
                <span ng-if="error" data-ng-bind="error"></span>
            </button>
        </div>

        <div data-ng-if="levelCtrl.authentication.user.id == levelCtrl.level.userId && levelCtrl.level.currentView === 'edit'">
            <a data-ng-click="levelCtrl.confirmRemove(level);">
                <button class="btn">  
                    Delete Level
                </button>
            </a>
        </div>
    </div>

    <div class="theCountdown" ng-if="levelCtrl.level.ready && levelCtrl.level.currentView === 'view'">
        <i class="fa fa-heart red"></i>
        <span ng-if="levelCtrl.level.currentLives !== undefined" ng-bind="levelCtrl.level.currentLives"></span>
    </div>

    <div class="rateLevel" ng-if="levelCtrl.Authentication.user && levelCtrl.level && levelCtrl.level.currentView === 'view'">
        Rate: <star-rating ng-model="levelCtrl.level.yourRating" max="5" on-rating-selected="levelCtrl.rate()"></star-rating>
    </div>

    <div ng-keydown="levelCtrl.keydown($event)" ng-keyup="levelCtrl.keyup($event)" class="animate-hide gameContainer" tabindex="0" ng-show="levelCtrl.level.ready">
        <div class="gameContainer-inner">
            <div class="top row">
                <number-grid
                    ng-if="levelCtrl.level && levelCtrl.level.layout && levelCtrl.level.currentView === 'view'"
                    layout="levelCtrl.level.layout"
                    orientation="vertical"
                    class="top-grid"
                    ng-style="{'padding-right': levelCtrl.margin}"></number-grid>
            </div>
            
            <div class="bottom row">
                <game level="levelCtrl.level" tiles="levelCtrl.finalLayout.tiles" ng-if="levelCtrl.level"></game>

                <number-grid ng-if="levelCtrl.level && levelCtrl.level.layout && levelCtrl.level.currentView === 'view'"
                             layout="levelCtrl.level.layout"
                             orientation="horizontal"
                             class="left-grid"
                             ng-style="{'padding-top': levelCtrl.margin}">
                </number-grid>
            </div>
        </div>
    </div>
</section>