<div class="viewLevel">
    <div class="form-group restrict-width" ng-if="['edit', 'new'].indexOf(levelCtrl.level.currentView) > -1">
        <h2>{{ levelCtrl.level.currentView }} level</h2>

        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input type="text" data-ng-model="levelCtrl.level.name" id="name" placeholder="Name" required>
        </div>

        <div class="form-group" ng-if="levelCtrl.level.currentView === 'new'">
            <label class="control-label" for="size">Size</label>
            <select convert-to-number ng-model="levelCtrl.options.size" ng-change="levelCtrl.createNewLevel();">
                <option value="25">5x5</option>
                <option value="100">10x10</option>
                <option value="225">15x15</option>
            </select>
        </div>

        <div>
            <button class="btn" type="button" ng-click="levelCtrl.confirmClear()">Clear</button>
        </div>

        <div ng-if="levelCtrl.level.currentView === 'edit'">
            <button ng-disabled="levelCtrl.error" class="btn" type="button" ng-click="levelCtrl.confirmUpdate()">
                <span ng-if="!levelCtrl.error">Update</span>
                <span ng-if="levelCtrl.error" ng-bind-html="levelCtrl.error"></span>
            </button>
        </div>

        <div ng-if="levelCtrl.level.currentView === 'new'">
            <button ng-disabled="levelCtrl.error" class="btn btn-primary" ng-click="levelCtrl.submitCreate()">
                <span ng-if="!levelCtrl.error">Submit</span>
                <span ng-if="levelCtrl.error" data-ng-bind="levelCtrl.error"></span>
            </button>
        </div>

        <div data-ng-if="levelCtrl.Authentication.user.id == levelCtrl.level.userId && levelCtrl.level.currentView === 'edit'">
            <a data-ng-click="levelCtrl.confirmRemove();">
                <button class="btn">  
                    Delete Level
                </button>
            </a>
        </div>
    </div>

    <div class="rateLevel" ng-if="levelCtrl.Authentication.user && levelCtrl.level && levelCtrl.level.currentView === 'view'">
        Rate: <star-rating ng-model="levelCtrl.level.yourRating" max="5" on-rating-selected="levelCtrl.rate()"></star-rating>
    </div>

    <mode-selector ng-if="levelCtrl.level && levelCtrl.level.currentView === 'view'"></mode-selector>

    <div ng-keydown="levelCtrl.keydown($event)" ng-keyup="levelCtrl.keyup($event)" class="animate-hide gameContainer" tabindex="0" ng-show="levelCtrl.level.ready">
        <div class="gameContainer-inner">
            <div class="top row">
                <number-grid
                    game-matrix="levelCtrl.gameMatrix['vertical']"
                    goal-matrix="levelCtrl.goalMatrix['vertical']"
                    ng-if="levelCtrl.level && levelCtrl.level.layout && levelCtrl.level.currentView === 'view'"
                    orientation="vertical"
                    class="top-grid"
                    ng-style="{'padding-right': levelCtrl.margin}"></number-grid>
            </div>
            
            <div class="bottom row">
                <game game-matrix="levelCtrl.gameMatrix" goal-matrix="levelCtrl.goalMatrix" level="levelCtrl.level" tiles="levelCtrl.finalLayout.tiles" ng-if="levelCtrl.finalLayout.tiles"></game>

                <number-grid
                    game-matrix="levelCtrl.gameMatrix['horizontal']"
                    goal-matrix="levelCtrl.goalMatrix['horizontal']"
                    ng-if="levelCtrl.level && levelCtrl.level.layout && levelCtrl.level.currentView === 'view'"
                    orientation="horizontal"
                    class="left-grid"
                    ng-style="{'padding-top': levelCtrl.margin}">
                </number-grid>
            </div>
        </div>
    </div>
</section>