<div class="hero">
	<section class="row valign-inner" edit-profile>
		<div class="restrict-width">
			<form name="userForm" data-ng-submit="settingsCtrl.updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
				<h2><label class="control-label" for="lastName">Change your Email Address</h2>
				<div class="form-group">
					<input type="email" id="email" name="email" class="form-control" data-ng-model="authentication.user.email" placeholder="Email">
				</div>
				<div class="text-center form-group">
					<button ng-disabled="error.username || success.username" type="submit" class="btn btn-large btn-primary">
						<span ng-if="!success.username">Save Email Address</span>
						<span ng-if="success.username">Email Saved</span>
						<span ng-if="error.username" data-ng-bind="error.username"></span>
					</button>
				</div>
			</form>
		</div>
		<div class="restrict-width" ng-if="authentication.user.provider === 'local'">
			<h2 class="col-md-12 text-center">Change your password</h2>
			<form data-ng-submit="settingsCtrl.changeUserPassword()" class="signin form-horizontal" autocomplete="off">
				<div class="form-group">
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
				</div>
				<div class="form-group">
					<input type="password" id="newPassword" minlength="{{ minPasswordLength }}" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
				</div>
				<div class="form-group">
					<input type="password" id="verifyPassword" minlength="{{ minPasswordLength }}" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
				</div>
				<div class="text-center form-group">
					<button ng-disabled="error.password || success.password" type="submit" class="btn">
						<span ng-if="!error.password && !success.password">Save Password</span>
						<span ng-if="!error.password && success.password">Password Saved</span>
						<span ng-if="error.password" data-ng-bind="error.password"></span>
					</button>
				</div>
			</form>
		</div>
		<div class="restrict-width">
			<button ng-click="settingsCtrl.signout(); closeThisDialog();" class="btn">Sign Out</span>
		</div>
	</section>
</div>