[ui-view].ng-enter,
[ui-view].ng-leave {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
}
[ui-view].ng-enter-active {
  opacity: 1;
}
[ui-view].ng-leave {
  opacity: 1;
  display: none;
}
[ui-view].ng-leave-active {
  opacity: 0;
}
.animate-hide {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.animate-hide.ng-hide {
  opacity: 0;
}
[loading-animation] {
  height: 100%;
}
.loadingAnimation {
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
  z-index: 9001;
  /* above the level */
}
.loadingAnimation.ng-hide {
  display: table !important;
  z-index: 0;
  /* way below the level */
}
.loadingAnimation-inner {
  font-size: 72px;
  display: table-cell;
  vertical-align: middle;
}
.animate-if.ng-enter,
.animate-if.ng-leave {
  transition: all 0.1s;
}
.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  max-height: 0;
}
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  max-height: 100%;
}
* {
  box-sizing: border-box;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
:focus {
  outline: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}
h1 {
  font-size: 4em;
  margin: 0;
}
html {
  height: 100%;
}
body {
  background: #222222;
  color: #dddddd;
  font-family: 'Raleway';
  font-weight: 800;
  height: 100%;
  margin: 0;
}
section {
  max-height: 100%;
  height: 100%;
}
small {
  font-size: 1em;
}
select {
  color: #222222;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
::-webkit-input-placeholder {
  font-family: 'Raleway';
}
#playable-area {
  height: 100%;
}
.btn {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #008287;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  height: 30px;
  margin: 6px 0;
  padding: .4em;
  width: 100%;
  transition: all 1s;
}
.btn:hover {
  background-color: #008287;
  transition: all 1s;
}
.btn:disabled {
  background-color: #005154;
  transition: all .2s;
}
.btn-small {
  width: 100px;
}
.btn-mini {
  width: 75px;
  height: 20px;
  font-size: 1.2em;
  margin: 0;
}
.caret {
  display: inline-block;
  font-size: 0.5em;
  margin-left: 10px;
  vertical-align: middle;
}
.caret.right:before {
  content: '▶';
}
.caret.down:before {
  content: '▼';
}
.collapsing {
  overflow: visible;
}
.container {
  width: 100%;
}
.content {
  float: left;
  width: 100%;
  height: calc(100% -  37px);
}
.dropdown-menu {
  background-color: #222222;
}
.dropdown-menu > li > a {
  background-color: #222222;
  color: inherit;
  text-decoration: none;
}
.dropdown-menu > li > a:hover {
  color: #ffffff;
  background-image: none;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu .active > a:focus {
  background-color: #555555;
  background-image: none;
}
.dropdown-toggle {
  cursor: pointer;
}
.fa.active {
  color: #008287;
}
.form-group input {
  background-color: #555555;
  box-sizing: border-box;
  border: 1px solid #555555;
  color: #ffffff;
  font-family: 'Raleway' !important;
  margin: 6px 0;
  width: 100%;
  height: 30px;
  padding: 6px;
}
.form-group select {
  background-color: #555555;
  border: 1px solid #555555;
  color: #ffffff;
  height: 30px;
  margin: 6px 0;
  line-height: 2;
  padding: 0 6px;
  width: 100%;
}
.form-group .details {
  font-size: 0.7em;
  margin-bottom: 18px;
}
.hero {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}
.hide {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}
.header-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  background: #000000;
  font-family: inherit;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  z-index: 10;
}
.header-container-inner {
  transition: max-height 1s;
  max-height: 100%;
}
.header-container-inner .header {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
}
.help-page h1 {
  margin: 0 0 6px;
}
.loading {
  height: 100%;
  width: 100%;
}
.mainContainer {
  height: 100%;
}
.main-viewport {
  float: left;
  width: 88%;
  height: 100%;
}
.navbar-header {
  background-color: #008287;
  display: inline-block;
  /* I have no idea where this margin is coming from
		to need to be overidden, dev tools shows nothing */
  margin: 0;
  padding: 0 6px;
  text-align: center;
  width: 10%;
}
.navbar-toggle {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ffffff;
  display: inline-block;
  font-size: 2em;
  padding: 0.5em;
}
.navbar-nav {
  display: inline-block;
  margin: 0;
}
.navbar-nav a {
  color: #ffffff;
  text-decoration: none;
  transition: all 1s;
}
.navbar-nav a:hover {
  color: #008287;
  transition: all 1s;
}
.navbar-nav > li {
  margin: 0 18.5px 0 18.5px;
}
.navbar-nav .fa:not(.fa-star) {
  margin: 5px;
}
@media screen and (max-width: 1280px) {
  .navbar-nav li {
    margin: 0 3px;
  }
}
.ng-invalid.ng-dirty {
  border-color: #fa787e;
}
.ng-valid.ng-dirty {
  border-color: #008287;
}
.pull-right {
  float: right;
}
.readable {
  line-height: 1.5;
  max-width: 75%;
  margin: 0 auto;
}
.restrict-width {
  margin: auto;
  max-width: 300px;
}
.really-hide {
  display: none !important;
}
.row {
  display: inline-block;
  width: 100%;
}
.sign-on .btn {
  margin: 1em;
}
.sign-on a {
  text-decoration: none;
}
.splash {
  font-size: 10em;
  font-family: 'Raleway';
}
.undecorated-link:hover {
  text-decoration: none;
}
.valign-inner {
  display: table-cell;
  vertical-align: middle;
}
/*
 *  Mixins
 */
@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ngdialog-close {
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 2em;
}
.ngdialog-overlay {
  position: fixed;
  background: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}
.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}
.ngdialog-content {
  background: #222222;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  width: 25%;
  margin: 0 auto;
  padding: 6px;
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
}
.ngdialog-content h2 {
  text-align: center;
}
.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}
.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}
body.ngdialog-open {
  overflow: hidden;
}
/* Styles go here */
.averageRating {
  display: inline-block;
}
@media screen and (max-width: 1280px) {
  .bottom-row-inner {
    display: inline-block;
    margin: 0 auto;
  }
}
.entry {
  display: inline-block;
  text-align: center;
}
.even {
  background-color: #444;
}
.inner.game {
  margin: 0 auto;
}
.finishedGrouping {
  color: #008287;
  transition: color .5s;
}
.gameContainer {
  height: 100%;
}
.gameContainer-inner {
  display: inline-block;
}
.viewLevel .gameContainer-inner {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .gameContainer-inner {
    margin: 0 auto;
  }
  .viewLevel .gameContainer-inner {
    position: static;
  }
}
.horizontal-line {
  text-align: right;
}
.levelInfo {
  position: absolute;
  margin: 1em 0 0 1em;
  width: auto;
}
.levelInfo .btn {
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .levelInfo {
    right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .levelInfo {
    position: static;
  }
}
.list-group-item.level {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #2f2f2f;
  min-height: 30px;
  padding: 6px;
  position: relative;
  text-align: left;
}
.list-group-item.level.odd {
  background-color: #222222;
}
.list-group-item.level .list-group-item-heading {
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .list-group-item.level .list-group-item-heading {
    max-width: 60%;
  }
}
.list-group-item.level .username {
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .list-group-item.level .username {
    display: block;
    margin: 0;
  }
}
.list-group-item.level .size {
  cursor: pointer;
  display: inline-block;
  margin: 0 1em 0 0;
}
@media screen and (max-width: 1024px) {
  .list-group-item.level .size {
    display: block;
  }
}
.listLevels {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #151515;
  float: left;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  width: 10%;
}
.listLevels h2,
.listLevels .form-group {
  padding: 0 3px;
}
.listLevels .createIcon,
.listLevels .filterIcon {
  float: right;
  margin: 0 6px;
}
.outer.game {
  display: inline-block;
  float: right;
  /* Has to be important to override ng-style */
}
.newLevel .outer.game,
.editLevel .outer.game {
  padding: 0 !important;
}
.left-grid {
  float: right;
}
.marked {
  background-color: #e2e2e2;
  color: #232323;
  transition: color .5s;
}
.page-header {
  border-bottom: none;
  margin: 1em 0;
}
.pagination {
  text-align: center;
  width: 100%;
}
.pagination .prevPage,
.pagination .nextPage,
.pagination .currentPage {
  display: inline-block;
}
.playButton {
  float: right;
  font-size: 2em;
}
.pending {
  background-color: rgba(175, 175, 175, 0.75);
  transition: background-color 0.5s;
}
.rateLevel {
  display: inline-block;
}
.searchText {
  display: inline-block;
  background: #000000;
  padding: 6px;
  vertical-align: middle;
}
.searchText .clearSearch {
  cursor: pointer;
  display: inline-block;
}
.selected {
  background-color: #008287;
  transition: background-color 0.5s;
}
.square {
  box-sizing: border-box;
  border: 1px solid #999;
  float: left;
}
.top-grid {
  float: right;
}
.theCountdown {
  width: 100px;
  /* magic number shame to quickfix #11 */
}
.unselected {
  background-color: #e2e2e2;
}
.vertical-line {
  display: inline-block;
  text-align: center;
}
.vertical-line div {
  width: 50%;
}
.win-notification {
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  text-align: center;
}
.win-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.win-text {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
/*
 *  Mixins
 */
[star-rating] {
  display: inline-block;
}
.rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.rating li {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.rating li.filled {
  color: #fd0;
}
.rating.readonly li.filled {
  color: #666;
}
@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.remove-account-container {
  display: inline-block;
  position: relative;
}
.sign-on-form {
  margin: auto;
  max-width: 300px;
  display: inline-block;
  padding-top: 6px;
}
.sign-on-form .form-group {
  display: inline-block;
  margin-right: 6px;
}
.sign-on-form .form-group .control-label {
  margin-right: 6px;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
