@black: #000;
@bodyHeight: 100%;
@bodySize: 85%;
@borderRadius: 5px;
@headerColor: rgba(0, 0, 0, 0.5);
@headerSize: 15%;
@inputMargin: 1em;
@inputWidth: 400px;
@inputHeight: 60px;
@invalidColor: #FA787E;
@mediumScreen: 1024px;
@largeScreen: 1280px;
@leftColumn: 33%;
@mainFont: 'Raleway';
@markedColor: darken(@tileColor, 75%);
@navbarHeight: 50px;
@pendingColor: fade(darken(@tileColor, 20%), 75%);
@selectedColor: #2199D0;
@primary: #222;
@primaryText: #DDD;
@rightColumn: 66%;
@secondary: lighten(@primary, 20%);
@tileColor: #E2E2E2;
@white: #FFF;
