@black: #000;
@bodyHeight: 100%;
@bodySize: 85%;
@borderRadius: 5px;
@headerMargin: 3em;
@headerSize: 15%;
@invalidColor: #FA787E;
@leftColumn: 33%;
@mainFont: 'Corben';
@markedColor: darken(@tileColor, 75%);
@navbarHeight: 50px;
@pendingColor: fade(darken(@tileColor, 20%), 75%);
@selectedColor: #2199D0;
@primary: #222;
@primaryText: #DDD;
@rightColumn: 66%;
@secondary: lighten(@primary, 20%);
@tileColor: #E2E2E2;
@white: #FFF;
@wildcard: 1.5 * @headerMargin;