<div class="outer game"
	ng-style="{ 'padding': ctrl.margin }"
	>
	<div
		class="inner game"
		ng-transclude
		ng-style="{ 'width': gameCtrl.getWidth(),
					'height': gameCtrl.getHeight() }"
		tabindex="1"
		>
	</div>
	<div class="win-notification" ng-show="gameCtrl.gameIsOver">
		<div class="win-wrapper">
			<div class="win-text" ng-if="gameCtrl.gameIsWon">
				WINNER!
				<br />
				{{gameCtrl.winTime}} SECONDS!
				<br />
				<button class="btn btn-primary play-again" ng-click="ctrl.clearAll()">
					Play Again
				</button>
				<button class="btn btn-primary">
					Level Select
				</button>
			</div>
			<div class="win-text" ng-if="gameCtrl.gameIsLost">YOU LOSE!</div>
		</div>
	</div>
</div>