<div class="viewLevel">
    <div class="form-group form-horizontal restrict-width" ng-if="['edit', 'new'].indexOf(currentView) > -1">
        <h2>{{ currentView }} level</h2>

        <div class="controls">
            <label class="control-label" for="name">Name</label>
            <input type="text" data-ng-model="level.name" id="name" class="form-control" placeholder="Name" required>
        </div>

        <div class="controls">
            <label class="control-label" for="lives"># of lives (wrong answers allowed)</label>
            <input type='text' ng-pattern="validNumber" data-ng-model="level.lives" id="lives" class="form-control" placeholder="# of lives" required>
        </div>

        <div class="controls" ng-if="currentView === 'new'">
            <label class="control-label" for="size">Size</label>
            <select ng-model='ctrl.options.size' ng-change="createNewLevel();">
                <option value="25" selected>5x5</option>
                <option value="100">10x10</option>
                <option value="225">15x15</option>
            </select>
        </div>

        <div>
            <button class="btn" type="button" ng-click="confirmClear()">Clear</button>
        </div>

        <div ng-if="currentView === 'edit'">
            <button ng-disabled="error" class="btn" type="button" ng-click="confirmUpdate()">
                <span ng-if="!error">Update</span>
                <span ng-if="error" ng-bind-html="error"></span>
            </button>
        </div>

        <div ng-if="currentView === 'new'">
            <button ng-disabled="error" class="btn btn-primary" ng-click="submitCreate()">
                <span ng-if="!error">Submit</span>
                <span ng-if="error" data-ng-bind="error"></span>
            </button>
        </div>

        <div data-ng-if="authentication.user.id == level.UserId && currentView === 'edit'">
            <a data-ng-click="confirmRemove(level);">
                <button class="btn">  
                    Delete Level
                </button>
            </a>
        </div>
    </div>

    <div class="theCountdown" ng-if="gameReady && currentView === 'view'">
        <i class="fa fa-heart red"></i>
        <span ng-if="level.currentLives !== undefined" ng-bind="level.currentLives"></span>
    </div>

    <div class="rateLevel" ng-if="authentication.user && level && currentView === 'view'">
        Rate: <div star-rating ng-model="level.yourRating" max="5" on-rating-selected="rate()"></div>
    </div>

    <div ng-keydown="ctrl.keydown($event)" ng-keyup="ctrl.keyup($event)" class="animate-hide gameContainer" tabindex="0" ng-show="gameReady">
        <div class="gameContainer-inner">
            <div class="top row">
                <div number-grid
                    ng-if="level && level.layout && currentView === 'view'"
                    ctrl="ctrl"
                    layout="level.layout"
                    orientation="vertical"
                    class="top-grid"
                    ng-style="{'padding-right': ctrl.margin}"></div>
            </div>
            
            <div class="bottom row">
                <game>
                    <tile ng-repeat="i in ctrl.finalLayout.tiles" editable='true'></tile>
                </game>

                <div number-grid ng-if="level && level.layout && currentView === 'view'" layout="level.layout" ctrl="ctrl" orientation="horizontal" class="left-grid" ng-style="{'padding-top': ctrl.margin}"></div>
            </div>
        </div>
    </div>
</section>