<div number-line
	ng-if="orientation === 'horizontal'"
	ng-style="{ 'height': ctrl.tileSize,
				'line-height': ctrl.tileSize }"
	ng-repeat="i in ctrl.getLines(level.layout) track by $index"
	class="{{orientation}}-line"
	ng-class-even="'even'"
	ng-class-odd="'odd'"
	>
</div>

<div number-line
	ng-if="orientation === 'vertical'"
	ng-style="{
		'width': ctrl.tileSize
	}"
	ng-repeat="i in ctrl.getLines(level.layout) track by $index"
	class="{{orientation}}-line"
	ng-class-even="'even'"
	ng-class-odd="'odd'"
	>
</div>