<div number-line
	ng-if="orientation === 'horizontal'"
	ng-style="{ 'height': ctrl.tileSize,
				'line-height': ctrl.tileSize,
				'font-size': ctrl.getFontSize() }"
	ng-repeat="i in layout track by $index"
	class="{{orientation}}-line"
	ng-class-even="'even'"
	ng-class-odd="'odd'"
	tutorial-matrix="tutorialMatrix"
	>
</div>

<div number-line
	ng-if="orientation === 'vertical'"
	ng-style="{
		'width': ctrl.tileSize,
		'font-size': ctrl.getFontSize()
	}"
	ng-repeat="i in layout track by $index"
	class="{{orientation}}-line"
	ng-class-even="'even'"
	ng-class-odd="'odd'"
	tutorial-matrix="tutorialMatrix"
	>
</div>