<section data-ng-controller="LevelsController" data-ng-init="findOne();">
	<div class="page-header">
		<big data-ng-bind="level.name"></big>
		<div class="pull-right" data-ng-show="authentication.user._id == level.user._id">
			<a class="btn btn-primary" href="/#!/levels/{{level._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
	</div>
	
	<div data-ng-controller="MainCtrl as ctrl" ng-keydown="ctrl.keydown($event)" ng-keyup="ctrl.keyup($event)" class="gameContainer" tabindex="0">
		<div class="top row">
			<div number-grid orientation="vertical" class="top-grid" ng-style="{
				'padding-left': ctrl.margin,
				'padding-right': ctrl.margin
			}"></div>
			<div class="clearfix"></div>
		</div>
		<div class="bottom row">
			<game class="pull-right">
				<tile ng-repeat="i in ctrl.flatten(level.layout) track by $index" ng-init="tileCtrl.getLayout(level.layout, $index)" editable='true'></tile>
			</game>
			<div number-grid orientation="horizontal" class="left-grid pull-right" ng-style="{'padding-top': ctrl.margin}"></div>
		</div>
	</div>

	<div class="theCountdown">
		<div>
			<timer ng-if="!level.timeLimit" ng-hide="showPenalty" interval="1000">
				{{ minutes }}:{{sseconds}}
			</timer>
			<timer ng-if="level.timeLimit" ng-hide="showPenalty" countdown="level.timeRemaining" interval="1000" finish-callback="gameOver()">
				{{ minutes }}:{{sseconds}}
			</timer>
			<div ng-if="showPenalty" class="showPenalty">
				{{ penaltyAmount }} sec
			</div>
		</div>

		<div>
			<em class="text-muted">
				<span data-ng-bind="level.user.displayName"></span>
				/
				<span data-ng-bind="level.created | date:'mediumDate'"></span>
			</em>
		</div>
	</div>
</section>