<popup-content>
	<h1>Sign In</h1>
	<div class="sign-on-form">
		<form data-ng-submit="signInCtrl.signin()" class="signin" autocomplete="off">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" data-ng-model="signInCtrl.credentials.username" placeholder="Username">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" data-ng-model="signInCtrl.credentials.password" placeholder="Password">
			</div>
			<div class="form-group">
				<button ng-disabled="signInCtrl.error" type="submit" class="btn btn-primary">
					<span ng-if="!signInCtrl.error">Sign in</span>
					<span ng-if="signInCtrl.error" ng-bind="::signInCtrl.error"></span>
				</button>
			</div>
			<div class="form-group">
				<a ng-click="signInCtrl.openForgotPassword()">Forgot your password?</a>
			</div>
		</form>
	</div>
</popup-content>